version: '3.9'

services:
  test:
    image: maven:3.9.9-eclipse-temurin-21-alpine
    working_dir: /app
    volumes:
      - .:/app:cached
      - maven-repo:/var/maven/.m2
    env_file:
      - .env
    environment:
      - MAVEN_CONFIG=/var/maven/.m2
      - MAVEN_OPTS=-Duser.home=/var/maven
    command: >
      mvn -Duser.home=/var/maven
      -B -ff -Dstyle.color=always
      test

    tty: true

volumes:
  maven-repo:
    name: ${COMPOSE_PROJECT_NAME:-monorepo}-maven-repo